.radioText{
    font-family: Heebo;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: 1px;
    position: relative;
    background-color: #202737;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: 1px;
    position: relative;
    background-color: #ebb19b;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.paymentIcon{
    color: white !important;
}
.alert-large{
    width: 97% !important;
}