#page {
    background-image: url("./login.png");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #202737;
}
.not-scroll{
    overflow-x: hidden;
}
.content {
    width: 50%;
    margin: auto;
    object-fit: contain;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.26);
    border: solid 3px #fff;
    background-color: #202737;
    background-image: none;
}
#title{
    direction: rtl;
    display: block;
    margin-top: 3%;
    object-fit: contain;
    font-family: Heebo;
    font-size: 36px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ebb19b;
}
.field{
    margin: auto;
    display: block;
    width: 50%;
    height: 47px;
    margin-top: 3%;
    border: solid 2px #fff;
    background-color:#202737;
    text-align: right;
    /* padding-right: 5%; */
    padding-right: 15px;
    font-family: Heebo;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.fieldContactus{
    width: 97%;
}
.fieldSub{
    width: 350px;
    /* margin: unset !important; */
}
.icon {
    background: url("./user.png") no-repeat left;
    background-position: 0;
}
.icon2 {
    background: url("./lock.png") no-repeat left;
    background-position: 3%;
}
.alert-danger {
    width: 50%;
    margin: auto;
}
.text{
    margin: auto;
    margin-top: 3%;
    display: block;
    object-fit: contain;
    font-family: Heebo;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
a,a:hover{
    color: #ffff;
    text-decoration: none;
}
.textDecoration{
    text-decoration: underline;
    text-decoration-color: white;
}
.login-button{
    width: 20%;
    height: 45px;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: #ebb19b;
    margin: auto;
    margin-top: 3%;
    border: none;
    display: block;
}
.login-text{
    display: block;
    font-family: Heebo;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
.icons{
    position: relative;
    left: 27%;
    top: -40%;
    float: left;
}
.line-break{
    white-space: pre-line
}